// ========================================
// footer
// ========================================

.footer__logo-mask {
	width: 254px;
	overflow: hidden;

	@include small {
		width: 152px;
	}
}

.footer__logo-image {
	animation: logo 6s steps(13) infinite;

	@include small {
		height: 48px;
	}
}

.footer__wrap {
	position: relative;
	margin: 0 auto;
	max-width: 1880px;
	width: calc(100% - 30px);
	isolation: isolate;
}

.footer__main {
	display: grid;
	grid-template-columns: 0.383fr 1.617fr;
}

.footer__logo-holder {
	padding: 50px 20px 0 0;
}

.footer__content {
	position: relative;

	&::after {
		content: '';
		width: calc(((100vw - 100%) / 2) + 100%);
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $black;
		z-index: -1;
	}
}

.footer__content-wrap {
	padding: 50px 0 150px 60px;
	max-width: 1266px;
	display: flex;
	justify-content: space-between;
}

.footer__paragraph {
	flex: 1 1;
	max-width: calc(48.8% - 50px);
}

.footer__navigation {
	flex: 1 1;
	max-width: calc(18% - 50px);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 196px;

	> :not(:last-child) {
		margin-bottom: 40px;
	}
}

.footer__social {
	flex: 1 1;
	max-width: calc(26.7% - 60px);
	min-width: 176px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.footer__social-heading {
	margin-bottom: 5px;
	color: $white;
}

.footer__social-links {
	display: flex;
	justify-content: space-between;
}
