// ========================================
// variables
// ========================================

$font-default: 'Inter';
$font-druk: 'Druk Wide';

$primary: #93ecfc;
$secondary: #1defb1;
$white: #ffffff;
$dark: #262626;
$darker: #0d0d19;
$black: #000000;

$transition-primary: 300ms ease-in-out;
