// ========================================
// variables
// ========================================

$font-default: 'Inter', sans-serif;
$font-druk: 'Druk Wide';
$font-lores: 'LoRes 9 Plus OT Wide';

$primary: #93ecfc;
$secondary: #1defb1;
$tertiary: #e8fc93;
$white: #fff;
$grey: #777;
$grey-mid: #313145;
$dark: #262626;
$darker: #0d0d19;
$black: #000;

$transition-primary: 300ms ease-in-out;
