// ========================================
// banner
// ========================================

.banner {
	@include desktop {
		padding: 11.04vw 0 6.6vw;
	}

	@include tablet {
		padding: 26.7vw 0 22.5vw;
	}

	@include phone {
		padding: 17.75vw 0 31.25px;
	}
}

.banner__heading {
	color: $white;

	@include desktop {
		margin-bottom: 16px;
	}

	@include tablet {
		margin-bottom: 15px;
	}

	@include phone {
		margin-bottom: 15px;
		padding: 0 5px;
	}
}

.banner__digital {
	font-family: $font-lores;
	color: $primary;
	position: relative;
	text-shadow: 0 0 38px rgba($primary, 0.9);
	z-index: -1;
	letter-spacing: -0.15em;
	line-height: 1.34285;
	padding-right: 12px;
	font-size: inherit;

	&::after {
		content: '';
		background-color: $white;
		position: absolute;
		width: 2px;
		height: 70%;
		top: 50%;
		right: 5px;
		transform: translateY(-40%);

		@include animation {
			animation: caret 1s infinite steps(2);
		}
	}

	@include animation {
		animation: blink 2s ease-in-out infinite;
	}
}

.banner__paragraph {
	color: $white;
	text-align: center;
	margin: 0 auto;

	@include desktop {
		max-width: 806px;
	}

	@include tablet {
		max-width: 600px;
	}
}
