// ========================================
// cards
// ========================================

.cards {
	isolation: isolate;
	padding-top: 14px;
	position: relative;

	@include desktop {
		padding-bottom: 100px;
	}

	@include tablet {
		padding-bottom: 50px;
	}

	@include phone {
		padding-bottom: 0;
	}
}

.cards__holder {
	display: flex;
}

.cards__row {
	display: flex;
	flex-direction: column;

	@include large {
		width: 16.77vw;
	}

	@include phone {
		width: 20vw;
	}
}

.cards__row--mod-1 {
	@include desktop {
		padding-top: 9.53vw;
	}

	@include tablet {
		padding-top: 6.53vw;
	}

	@include phone {
		padding-top: 10.6vw;
	}
}

.cards__row--mod-2 {
	@include desktop {
		padding-top: 4.9vw;
	}

	@include tablet {
		padding-top: 2.3vw;
	}

	@include phone {
		padding-top: 11.5vw;
	}
}

.cards__row--mod-3 {
	@include large {
		padding-top: 0;
	}

	@include phone {
		padding-top: 18.5vw;
	}
}

.cards__row--mod-4 {
	@include desktop {
		padding-top: 6.25vw;
	}

	@include tablet {
		padding-top: 3.7vw;
	}

	@include phone {
		padding-top: 12vw;
	}
}

.cards__row--mod-5 {
	@include desktop {
		padding-top: 7.29vw;
	}

	@include tablet {
		padding-top: 4.6vw;
	}

	@include phone {
		padding-top: 14.3vw;
	}
}

.cards__row--first {
	width: 4.8vw;

	@include desktop {
		padding-top: 16.25vw;
	}

	@include tablet {
		padding-top: 13.5vw;
	}

	@include phone {
		display: none;
	}
}

.cards__row--last {
	width: 11.35vw;

	@include desktop {
		padding-top: 16.2vw;
	}

	@include tablet {
		padding-top: 13.5vw;
	}

	@include phone {
		display: none;
	}
}

.cards__card {
	margin: 0.782vw;
	overflow: hidden;

	@include desktop {
		border-radius: 10px;
	}

	@include small {
		border-radius: 5px;
	}
}

.cards__card--primary {
	background-color: $primary;
	height: 21vw;
	margin-left: 0;
	width: 4vw;
	border-radius: 0 10px 10px 0;
}

.cards__card--secondary {
	background-color: $secondary;
	height: 21vw;
	margin-right: 0;
	width: 10.6vw;
	border-radius: 10px 0 0 10px;
}

.cards__card .cards__card--mod-1 {
	height: 20vw;
}

.cards__card--mod-2 {
	height: 6.1vw;
}

.cards__card--mod-3 {
	height: 10vw;
}

.cards__card--mod-4 {
	height: 20.8vw;
}

.cards__card--mod-5 {
	height: 16.2vw;
}

.cards__card--mod-6 {
	height: 9.3vw;
}

.cards__card--mod-7 {
	height: 19vw;
}

.cards__decoration {
	position: absolute;
}

.cards__decoration--primary {
	width: 13.96vw;
	z-index: -1;

	@include desktop {
		top: 1.46vw;
		left: 10.57vw;
	}

	@include tablet {
		top: -0.21vw;
		left: 10.625vw;
	}

	@include phone {
		top: 11.46vw;
		left: 8.87vw;
	}
}

.cards__decoration--secondary {
	right: 1vw;
	width: 9.79vw;

	@include desktop {
		top: 6.56vw;
	}

	@include tablet {
		top: 4.86vw;
	}
}

.cards__image,
.cards__video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
