// ========================================
// info
// ========================================

.info {
	position: relative;

	@include desktop {
		padding: 178px 300px 0 500px;
	}

	@include tablet {
		padding: 215px 0 0 28vw;
	}

	@include phone {
		padding: 27vw 0;
	}
}

.info__image-decoration {
	position: absolute;
	right: 74vw;
	height: 16vw;

	@include desktop {
		top: 254px;
	}

	@include tablet {
		top: 215px;
	}

	@include phone {
		display: none;
	}
}

.info__video-decoration {
	height: 22vw;
	overflow: hidden;
	position: absolute;
	width: 100vw;
	mask-image: url('../assets/images/waw-big-logo-left.png');
	mask-size: 100% 100%;

	@include desktop {
		top: 254px;
		right: -85vw;
	}

	@include tablet {
		top: 612px;
		right: -80vw;
	}

	@include phone {
		bottom: 42vw;
		left: 80vw;
	}
}

.info__content {
	max-width: 764px;
	margin-left: auto;
	position: relative;

	&::before {
		content: '';
		width: 1px;
		background-color: $primary;
		position: absolute;
		left: 0;
	}

	@include desktop {
		&::before {
			height: 120px;
			top: -146px;
		}
	}

	@include tablet {
		&::before {
			height: 160px;
			top: -190px;
		}
	}

	@include phone {
		width: calc(100% - 30px);
		margin: 0 auto;

		&::before {
			height: 20vw;
			top: -24.37vw;
		}
	}
}

.info__tag {
	@include desktop {
		margin-bottom: 38px;
	}

	@include small {
		margin-bottom: 20px;
	}
}

.info__paragraphs {
	margin-bottom: 50px;

	> :not(:last-child) {
		margin-bottom: 20px;
	}
}

.info__button {
	position: relative;

	&::after {
		content: '';
		width: 1px;
		background-color: $primary;
		position: absolute;
		left: 0;
	}

	@include desktop {
		margin-bottom: 354px;

		&::after {
			height: 302px;
			bottom: -338px;
		}
	}

	@include tablet {
		margin-bottom: 332px;

		&::after {
			bottom: -312px;
			height: 288px;
		}
	}

	@include phone {
		margin-bottom: 134px;

		&::after {
			bottom: -124px;
			height: 114px;
		}
	}
}

.info__short-text {
	display: block;
	@include responsive-font(20, 40, 320, 1920);
	font-family: $font-druk;
	font-weight: 700;
	letter-spacing: 0.02em;

	@include phone {
		line-height: 26px;
	}
}
