// ========================================
// call-to-action
// ========================================

.neon-link {
	font-size: 16px;
	line-height: 1.3125;
	letter-spacing: 0.03em;
	font-family: $font-druk;
	font-weight: 700;
	padding: 8px;
	text-shadow: 0 0 38px transparent;

	@include animation {
		transition: $transition-primary;
		transition-property: color, text-shadow;
	}

	@include hover {
		color: $primary;
		text-shadow: 0 0 38px rgba($primary, 0.9);
	}
}

.neon-link--flat {
	padding: 0;
	text-align: left;
}

.small-link {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 1.5555;
	text-shadow: 0 0 38px rgba($secondary, 0);

	@include animation {
		transition: $transition-primary;
		transition-property: color, text-shadow;
	}

	@include hover {
		color: $primary;
		text-shadow: 0 0 38px rgba($primary, 0.9);
	}
}

.neon-button {
	background-color: $primary;
	padding: 24px 34px 24px 68px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	line-height: 1.2;
	font-size: 14px;
	color: $dark;
	position: relative;
	box-shadow: 0 40px 38px rgba($primary, 0.19);

	.neon-button__icon {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		width: 20px;
	}

	@include animation {
		transition: $transition-primary;
		transition-property: background-color, box-shadow;

		.neon-button__icon {
			transition: $transition-primary;
			transition-property: left;
		}
	}

	@include hover {
		background-color: $secondary;
		box-shadow: 0 40px 38px rgba($secondary, 0.19);

		.neon-button__icon {
			left: 35px;
		}
	}

	@include large {
		.neon-button__icon {
			left: 28px;
		}

		@include hover {
			.neon-button__icon {
				left: 35px;
			}
		}
	}

	@include phone {
		padding: 20px 26px 20px 52px;

		.neon-button__icon {
			left: 18px;
		}

		@include hover {
			.neon-button__icon {
				left: 22px;
			}
		}
	}
}

.neon-button--secondary {
	background-color: $secondary;
	box-shadow: 0 40px 38px rgba($secondary, 0.19);

	@include hover {
		background-color: $primary;
		box-shadow: 0 40px 38px rgba($primary, 0.19);
	}
}
