// ========================================
// inputs
// ========================================

.input-large {
	border: 1px solid;
	border-color: $secondary;
	background-color: $darker;
	border-radius: 5px;
	font-size: 18px;
	line-height: 1.5555;
	padding: 24px 30px;
	color: $white;
	letter-spacing: -0.018em;
	box-shadow: 0 40px 50px rgba($primary, 0);

	&::placeholder {
		color: $white;
	}

	@include animation {
		transition: $transition-primary;
		transition-property: border-color, box-shadow;
	}

	@include focus {
		border-color: $primary;
		box-shadow: 0 40px 50px rgba($primary, 0.12);
	}
}

.input-large--text-area {
	width: 100%;
	resize: none;

	@include desktop {
		height: 218px;
	}
}
