// ========================================
// layout
// ========================================

body {
	color: $white;
	background-image: url('../assets/images/body-background.jpg');
	background-repeat: repeat-y;
	background-size: 100% auto;
	opacity: 0;
	isolation: isolate;

	@include animation {
		transition: $transition-primary;
		transition-property: opacity;
		opacity: 1;
	}

	button,
	a {
		color: $white;
	}

	::selection {
		color: $secondary;
		background-color: $white;
	}
}

.wrap {
	padding: 0 20px;
	max-width: 1380px;
	margin: 0 auto;
}

::-webkit-scrollbar {
	width: 0;
	background-color: transparent;
}

html {
	scrollbar-width: none;
	scroll-behavior: smooth;
}
