// ========================================
// mixins
// ========================================

// helpers

@mixin flex-c-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-sb-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// utilities

$desktop: 1200px;
$tablet: 800px;

@mixin desktop {
	@media screen and (min-width: calc(#{$desktop} + 1px)) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $desktop) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet) and (max-width: $desktop) {
		@content;
	}
}

@mixin phone {
	@media screen and (max-width: calc(#{$tablet} - 1px)) {
		@content;
	}
}

@mixin hover {
	&:hover {
		@media screen and (min-width: calc(#{$desktop} + 1px)) {
			@content;
		}
	}
}

@mixin animation {
	.loaded & {
		@content;
	}
}

@mixin hidden {
	margin: -1px;
	outline: 0;
	border: 0;
	padding: 0;
	height: 1px;
	width: 1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
}
