// ========================================
// typography
// ========================================

.primary {
	color: $primary;
}

.secondary {
	color: $secondary;
}

.text {
	line-height: 1.55;
	letter-spacing: 0.02em;
	font-weight: 500;

	@include desktop {
		font-size: 18px;
	}

	@include small {
		font-size: 16px;
	}
}

.h1 {
	font-family: $font-druk;
	text-align: center;
	@include responsive-font(22, 65, 320, 1920);

	@include desktop {
		line-height: 1.16;
		font-weight: 500;
		letter-spacing: 0.02em;
	}

	@include tablet {
		line-height: 1.3333;
	}

	@include phone {
		line-height: 1.45;
	}
}
