// ========================================
// typography
// ========================================

.primary {
	color: $primary;
}

.secondary {
	color: $secondary;
}

.digital {
	font-family: $font-lores;
}

.tag {
	display: block;
	letter-spacing: -0.02em;
	line-height: 1.7;

	@include large {
		font-size: 18px;
	}

	@include small {
		font-size: 16px;
	}
}

.tag-wide {
	line-height: 1.5555;
	letter-spacing: -0.02em;

	@include desktop {
		font-size: 16px;
	}

	@include small {
		font-size: 15px;
	}
}

.text {
	line-height: 1.55;
	letter-spacing: 0.02em;
	font-weight: 500;

	@include desktop {
		font-size: 18px;
	}

	@include small {
		font-size: 16px;
	}
}

.text-small {
	line-height: 1.5555;
	letter-spacing: -0.0166em;

	@include desktop {
		font-size: 16px;
	}

	@include small {
		font-size: 15px;
	}
}

.text-little {
	line-height: 1.6;
	letter-spacing: 0.02em;

	@include desktop {
		font-size: 16px;
	}

	@include small {
		font-size: 15px;
	}
}

.text-strong {
	@include responsive-font(16, 24, 320, 1920);
	line-height: 1.458333;
	letter-spacing: 0.02em;
	font-family: $font-druk;
}

.text-strong-large {
	@include responsive-font(20, 40, 320, 1920);
	font-family: $font-druk;
	font-weight: 700;
	letter-spacing: 0.02em;

	@include phone {
		line-height: 26px;
	}
}

.text-strong-large--spaced {
	line-height: 1.25;
}

.text-strong-small {
	line-height: 1.6;
	letter-spacing: 0.02em;

	@include desktop {
		font-size: 20px;
	}

	@include small {
		font-size: 18px;
	}
}

.h1 {
	font-family: $font-druk;
	text-align: center;
	@include responsive-font(22, 65, 320, 1920);

	@include large {
		line-height: 1.333;
	}

	@include tablet {
		letter-spacing: 0.03em;
	}

	@include phone {
		line-height: 1.45;
		letter-spacing: 0.05em;
	}
}

.h2 {
	@include responsive-font(20, 40, 320, 1920);
	letter-spacing: 0.02em;
	line-height: 1.25;
}

.h3 {
	@include responsive-font(18, 25, 320, 1920);
	letter-spacing: 0.02em;
	line-height: 1.28;
	font-family: $font-druk;
}

.h4 {
	font-size: 16px;
	line-height: 1.28;
	letter-spacing: 0.1em;
	font-family: $font-druk;
}
