// ========================================
// typography
// ========================================

.primary {
	color: $primary;
}

.secondary {
	color: $secondary;
}

.digital {
	font-family: $font-lores;
}

.tag {
	display: block;
	letter-spacing: -0.02em;
	line-height: 1.7;

	@include large {
		font-size: 18px;
	}

	@include small {
		font-size: 16px;
	}
}

.text {
	line-height: 1.55;
	letter-spacing: 0.02em;
	font-weight: 500;

	@include desktop {
		font-size: 18px;
	}

	@include small {
		font-size: 16px;
	}
}

.text-strong {
	@include responsive-font(16, 24, 320, 1920);
	line-height: 1.458333;
	letter-spacing: 0.02em;
	font-family: $font-druk;
}

.h1 {
	font-family: $font-druk;
	text-align: center;
	@include responsive-font(22, 65, 320, 1920);

	@include large {
		line-height: 1.333;
	}

	@include tablet {
		letter-spacing: 0.03em;
	}

	@include phone {
		line-height: 1.45;
		letter-spacing: 0.05em;
	}
}
